@import "src/styles";

.filter-rating-wrapper {
  display: flex;
  width: 100%;

  .filter-ratings {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.rating-button {
  padding: 0.15rem 0.4rem;
  width: 100%;
  background-color: $primary-white;
  color: $primary-blue;
  border: 1px solid $primary-blue;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.rating-button.active {
  background-color: $primary-blue;
  color: $primary-white;
}

.rating-button:hover {
  background-color: $primary-blue;
  color: $primary-white;
}

.rating-button.reset {
  color: $primary-red;
  border-color: $primary-red;

  span {
    margin-left: 0.1rem;
  }
}

.rating-button.reset:hover {
  background-color: $primary-red;
  color: $primary-white;
}

