<div class="filter-rating-wrapper">
  <div class="filter-ratings">
    <div
      class="rating-button"
      *ngFor="let rating of ratings"
      [ngClass]="{active: selectedRating === rating}"
      (click)="filterByRating(rating)">
      {{ rating.value | percent: '0.2' }}
    </div>
    <div class="rating-button reset" (click)="resetFilter()">
      <fa-icon [icon]="resetIcon"></fa-icon>
      <span [translate]="'loans.overview.reset'"></span>
    </div>
  </div>
</div>

