@import "src/styles";

.detail-element {
  display: flex;
  flex-direction: column;
  width: 100%;

  .label {
    width: 20%;
  }

  .value {
    width: 70%;
  }

  .element {
    margin-bottom: 0.6rem;
    display: flex;
  }

  .amount {
    color: $primary-red;
    font-weight: 700;
  }

  textarea {
    -webkit-box-shadow: 0 0 0 1px rgba(55,180,190,0.45);
    -moz-box-shadow: 0 0 0 1px rgba(55,180,190,0.45);
    box-shadow: 0 0 0 1px rgba(55,180,190,0.45);
    border: none;
    width: 100%;
    font: inherit !important;
    resize: none;
    height: 100px;
  }
}
