<div class="loan-detail-wrapper">
  <app-back-navigation [backUrlCommands]="['/']"></app-back-navigation>

  <div class="detail-element" *ngIf="loanDetail">
    <div class="element">
      <div class="label" [translate]="'loans.detail.rating'"></div>
      <div class="value">{{ loanDetail.rating }}</div>
    </div>

    <div class="element">
      <div class="label" [translate]="'loans.detail.name'"></div>
      <div class="value">{{ loanDetail.name }}</div>
    </div>

    <div class="element">
      <div class="label" [translate]="'loans.detail.interestRate'"></div>
      <div class="value">{{ loanDetail.interestRate  | percent: '0.2'  }}</div>
    </div>

    <div class="element">
      <div class="label" [translate]="'loans.detail.amount'"></div>
      <div class="value amount">{{ loanDetail.amount | currencyFormatter }}</div>
    </div>

    <div class="element">
      <div class="label" [translate]="'loans.detail.story'"></div>
      <div class="value"><textarea readonly>{{ loanDetail.story }}</textarea></div>
    </div>
  </div>
</div>
