<div class="loans-wrapper">
  <app-rating-filter (enableFilterEmitter)="enableAverageAmount = $event"></app-rating-filter>

  <div class="amount-average-wrapper">
    <app-average-amount *ngIf="enableAverageAmount"></app-average-amount>
  </div>

  <app-loans-list class="list-wrapper" [loans]="loans"></app-loans-list>
</div>
