<div class="settings-wrapper">
  <app-back-navigation [backUrlCommands]="['/']"></app-back-navigation>

  <h1 [translate]="'settings.title'"></h1>

  <div class="settings-options-wrapper">
      <div class="setting-option">
        <div class="label" [translate]="'settings.changeLanguageLabel'"></div>
        <div class="value">
          <select [(ngModel)]='currentLanguage' (change)="onLanguageSelection($event.target.value)">
            <option *ngFor="let language of definedLanguages"
                    [value]="language.language">{{ language.title }}</option>
          </select>
        </div>
      </div>
  </div>
</div>
