.settings-options-wrapper {
  .setting-option {
    display: flex;
    justify-content: space-between;
  }

  .label {
    margin-right: 1rem;
    font-weight: 600;
    width: 20%;
  }

  .value {
    width: 75%;

    select {
      width: 100%;
      height: 100%;
      -webkit-box-shadow: 0 0 0 1px rgba(55,180,190,0.45);
      -moz-box-shadow: 0 0 0 1px rgba(55,180,190,0.45);
      box-shadow: 0 0 0 1px rgba(55,180,190,0.45);
      padding: 2px 6px;
    }
  }
}

