<div class="menu-wrapper">
  <div class="menu">
    <div class="logo-wrapper">
      <a [routerLink]="['/']">
        <span [translate]="'menu.logoTitle'"></span>
      </a>
    </div>
    <div class="settings-wrapper">
      <fa-icon [icon]="settingsIcon"></fa-icon>
      <div class="settings-label">
        <a [routerLink]="['/settings']">
          <span [translate]="'menu.settings'"></span>
        </a>
      </div>
    </div>
  </div>
</div>
