@import "src/styles";

.menu-wrapper {
  background-color: $primary-blue;
  padding: 0.75rem 2rem;
  color: $primary-white;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  font-weight: 700;
}

.settings-wrapper {
  display: flex;
  cursor: pointer;

  .settings-label {
    padding-left: 0.25rem;
  }
}

