@import "src/styles";

.element-wrapper {
  display: flex;

  .element {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.4rem;
    border-bottom: 1px solid $primary-blue;
  }

  .element:hover {
    background-color: $primary-blue;
    color: $primary-white;
    transition: background-color 0.2s;
  }
}
