<div class="element-wrapper" *ngIf="loanDetail">
  <div class="element"
       [routerLink]="['loans', loanDetail.id]">
    <div class="element-title">{{ loanDetail.name }}</div>
    <div class="element-detail">
      {{ loanDetail.amount | currencyFormatter }}
    </div>
  </div>
</div>
