<div class="amount-average-wrapper">
  <div class="average-label" [translate]="'loans.overview.averageLoan'"></div>
  <div class="result">
  {{ averageLoanValue | currencyFormatter }}
  </div>
</div>
