@import "src/styles";

.amount-average-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;

  .average-label {
    font-size: 1.1rem;
  }

  .result {
    font-weight: 700;
    font-size: 1.4rem;
    color: $primary-red;
  }
}

