@import url('https://fonts.googleapis.com/css?family=Literata:400,500,600,700&display=swap');
@import "assets/styles/colors";

/* defaults */
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Literata', serif;
}

a {
  text-decoration: none;
  color: inherit !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  border: none;
  font-family: inherit !important;
}
